.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__1 {
		
	top: 286px;
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: TrinityU.GitHub.io ;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Github_TrinityU {
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(112,112,112,1);
}
#Work_by_Hugh_Coleman__Teammate {
	left: 759px;
	top: 364px;
	position: absolute;
	overflow: visible;
	width: 403px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(112,112,112,1);
}
#Your_viewing_of_these_reposito {
	left: 540px;
	top: 443px;
	position: absolute;
	overflow: visible;
	width: 841px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(112,112,112,1);
}
#Please_contact_me_at_hcolema1t {
	left: 611px;
	top: 680px;
	position: absolute;
	overflow: visible;
	width: 699px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(112,112,112,1);
}
#This_is_for_my_organization_an {
	left: 465px;
	top: 522px;
	position: absolute;
	overflow: visible;
	width: 991px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(112,112,112,1);
}
#Do_not_use_this_in_any_way_if_ {
	left: 625px;
	top: 601px;
	position: absolute;
	overflow: visible;
	width: 671px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(112,112,112,1);
}
#trinityugithubio {
	left: 867px;
	top: 1021px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(112,112,112,1);
}
